{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acesso - APAL | Aqui Pode, Aqui é Legal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FAVICON (Ícone da Aba do Navegador) -->
        <link rel="icon" type="image/png" href="img/favicon.png">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
        <!-- LUCIDE ICONS (Biblioteca Oficial) -->
        <script src="https://unpkg.com/lucide@latest"></script>
    
        <!-- CSS GLOBAL -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://unpkg.com/htmx.org@2"></script>

    </head>
    <body hx-headers='{"X-CSRFToken": "{{crsf_token}}"}'>
        <main id="main-content">
        {% block content %}
        {% endblock %}
        </main>
     
       
    </body>


    <html lang="pt-BR">
